/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* fondo #fefefe */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}

/*
    el header es basicamente una barra azul de fondo #2f85db
    con texto de anchor en negrita
*/
header {
    background-color: #2f85db;
}

/* el texto del header es blanco 
   y tiene almenos 1rem de padding */

header h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #e4f4fd;
    padding: 1rem;
}

/*
    le damos distancia al cuerpo de la página
    para que no esté pegado al header
    tambien le damos un padding de 20px
    y que tampoco este pegado al borde de la página
*/
main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 20px;
}

/*
    el footer es basicamente una barra azul de fondo #2f85db
    con texto de anchor en negrita y anclado al final de la página
    con almenos 40px de padding y el texto centrado
*/

footer {
    background-color: #2f85db;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    padding: 40px;
    text-align: center;
}

footer a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #e4f4fd;
}

/*
    la clase formulario es un contenedor
    con un padding de 20px
    fondo #00aeff
    y border-radius de 5px
    ademas tiene de distancia al cuerpo de la página
    y un padding de 20px
    con margenes a la derecha y izquierda de 1%
    
*/
.formulario {
    padding: 20px;
    background-color: #00aeff;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

.formulario label{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #e4f4fd;
}

/*
    el input tiene un fondo blanco
    y el texto de color 
    con border-radius de 5px
    sin color de borde
*/
.formulario input{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #1c1c1c;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
}

/* los botones tienen un fondo blanco
   y el texto de color blanco
   con border-radius de 5px
   sin color de borde, ademas tiene un padding de 20px
*/
.formulario button{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #1c1c1c;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* 
el div de campo de consulta alinea los span de los campos
al centro
*/
.camposConsulta {
    display: flex;
    justify-content: center;
}

.camposConsulta span{
    margin: 5px;
}
/* 
    el div de campo de consulta tiene un padding de 20px 
    y cada elemento tiene un padding de 5px
*/
.botonesConsulta {
    display: flex;
    justify-content: center;
}
.botonesConsulta button{
    margin: 5px;
}

/*
    el contenido es de un celeste ligeramente mas claro
    y con border-radius de 5px
*/
.contenido {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #e4f4fd;
    background-color: #13b4ff;
    border-radius: 5px;
}

/* la tabla de contenido tiene la primera columna de un 10%
    la segunda de un 20%
    y la tercera con el resto,
    cada una separada con almenos 20px de padding
*/
.tablaContenido table{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.tablaContenido table:first-child{
    width: 10%;
    margin-left: 5px;
}

.tablaContenido table:nth-child(2){
    width: 20%;
}

/* este campo esta alineado a la derecha pero su texto a la izquierda y justificado */
.tablaContenido table:nth-child(2){
    text-align: right;
    justify-content: flex-end;
}

/* 
    el ultimo campo es para el boton de modificar
    esta alineado a la derecha y su boton centrado    
*/
.tablaContenido table:last-child{
    width: 10%;
    text-align: right;
    justify-content: center;
}